<div class="container">
    <!-- Upper section: Line and Bar charts -->
    <div class="row">
        <div class="col-lg-6">
            <h2>Orders by Months</h2>
            <canvas id="barchart" class="chart"></canvas>
        </div>

        <div class="col-lg-6">
            <h2>Orders by Shipping Method</h2>
            <canvas id="barchart2" class="chart"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h2>Orders by Category</h2>
            <canvas id="barchart_category" class="chart"></canvas>
        </div>

        <div class="col-lg-6">
            <h2>Orders by Brand</h2>
            <canvas id="barchart_brand" class="chart"></canvas>
        </div>
    </div>

        

    <div class="row">
        <div class="col-lg-12">
            <h2>Orders by Day</h2>
            <canvas id="line" class="chart"></canvas>
        </div>
    </div>

    <!-- Lower section: Pie and Donut charts -->
    <div class="row">
        <div class="col-lg-6">
            <h2>Orders by Payment Method</h2>
            <canvas id="barchart3" class="chart"></canvas>
        </div>

        <div class="col-lg-6">
            <h2>Orders by Status</h2>
            <canvas id="doughnut" class="chart"></canvas>
        </div>
    </div>
</div>
