
.table {
  th, td {
    vertical-align: middle;
  }
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

.btn-outline-primary, .btn-outline-danger {
  transition: 0.2s ease-in-out;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: white;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: white;
}
