<div class="container-fluid">
  <h2 class="text-center text-primary mb-4">Product Management</h2>

  <button class="btn btn-success" (click)="openAddDialog()">
    <i class="fas fa-plus-circle"></i> Add Product
  </button>
  
<p></p>
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped shadow-sm">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>Category ID</th>
          <th>Brand ID</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of products">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.price | currency:'USD' }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.categoryId }}</td>
          <td>{{ item.brandId }}</td>
          <td class="text-center">
            <button class="btn btn-sm btn-outline-primary me-2" (click)="openEditDialog(item)">
              <i class="fas fa-edit"></i> Edit
            </button>
            <span class="mx-2"></span>
            <button class="btn btn-sm btn-outline-danger" (click)="openDeleteDialog(item)">
              <i class="fas fa-trash"></i> Delete
            </button>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <nav *ngIf="pages.length > 1" class="mt-4">
    <ul class="pagination justify-content-center">
      <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
        <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
      </li>
    </ul>
  </nav>
</div>
