<h2 mat-dialog-title class="center"
    style="font-size: 30px;" >
  Add User
</h2>

<div mat-dialog-content>
  <form #userForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="w-100">
      <mat-label>Fullname</mat-label>
      <input matInput [(ngModel)]="user.fullname" name="fullname" />
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Phone Number</mat-label>
      <input
        matInput
        type="tel"
        [(ngModel)]="user.phoneNumber"
        name="phoneNumber"
        pattern="^[0-9]{10}$"
        maxlength="10"
        required
        #phoneNumber="ngModel"
      />
      <mat-error *ngIf="phoneNumber.invalid && phoneNumber.touched">
        Phone number must be exactly 10 digits.
      </mat-error>
    </mat-form-field>
    

    <mat-form-field class="w-100">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="user.password" name="password" required />
    </mat-form-field>


    <mat-form-field class="w-100">
      <mat-label>Facebook Account ID</mat-label>
      <input matInput type="number" [(ngModel)]="user.facebookAccountId" name="facebookAccountId" />
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Google Account ID</mat-label>
      <input matInput type="number" [(ngModel)]="user.googleAccountId" name="googleAccountId" />
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Role ID</mat-label>
      <input matInput type="number" [(ngModel)]="user.roleId" name="roleId" required />
    </mat-form-field>

    <mat-checkbox [(ngModel)]="user.isActive" name="isActive">Active</mat-checkbox>

    <div mat-dialog-actions class="action-buttons mt-3">
      <button mat-flat-button color="primary" class="save-button" type="submit"
      [disabled]="!userForm.valid || !phoneNumber.valid || !user.password || !user.roleId">
  Save
</button>

      <button mat-button class="cancel-button" type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
