<!-- src/app/login/login.component.html -->
<div class="login-box">
    <div class="login-logo">
        <!-- Sử dụng routerLink nếu muốn chuyển hướng trong Angular -->
        <a routerLink="/admin/login"><b>Login</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <form (ngSubmit)="onSubmit()">
                <div class="input-group mb-3">
                    <input type="tel" class="form-control" placeholder="Phone number" [(ngModel)]="phoneNumber"
                        name="phoneNumber" pattern="[0-9]{10,11}" maxlength="11" (input)="validatePhoneNumber()"
                        required />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-phone"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password"
                        name="password" required />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                </div>
            </form>

            <div class="social-auth-links text-center mb-3">
                <p>- OR -</p>
                <a (click)="onFacebookLogin()" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                </a>
                <a href="#" class="btn btn-block btn-danger">
                    <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                </a>
            </div>

            <!-- /.social-auth-links -->

            <p class="mb-1">
                <a routerLink="/forgot-password">I forgot my password</a>
            </p>
            <p class="mb-0">
                <a routerLink="/admin/register" class="text-center">Register a new membership</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>