<div class="wrapper" [class.collapsed]="isCollapsed">
  <!-- Navbar -->

  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="app-sidebar" [ngClass]="{'collapsed': isCollapsed}">
    <div class="sidebar-header">
      <a routerLink="/adminDashboard" class="brand">
        <img src="assets/AdminLTE-master/dist/img/AdminLTELogo.png" alt="Logo" class="brand-logo" />
        <span class="brand-text">{{userName}} </span>
      </a>
      <button class="toggle-btn" (click)="toggleSidebar()">
        <fa-icon [icon]="isCollapsed ? faAngleRight : faAngleLeft"></fa-icon>
      </button>
    </div>

    <nav class="nav-menu">
      <ul>
        <li *ngFor="let item of navItems" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="item.link">
            <fa-icon [icon]="item.icon"></fa-icon>
            <span class="nav-text">{{ item.label }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper iframe-mode" [ngClass]="{ 'collapsed': isCollapsed }" data-widget="iframe"
    data-loading-screen="750">
    <router-outlet></router-outlet>

  </div>

  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>