/* register.component.css */
:host {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Chiếm 100% chiều cao của viewport */
    background-color: #f4f6f9; /* Màu nền có thể thay đổi */
  }
  
  .register-box {
    width: 100%;
    max-width: 400px; /* Giới hạn độ rộng */
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  